@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2e71fe;
  --secondary-color: #283042;
  --text-primary: #283042;
  --text-secondary: #545a68;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .primaryBg {
    background: var(--primary-color);
  }

  .primaryColor {
    color: var(--primary-color);
  }

  .secondaryBg {
    background: var(--secondary-color);
  }

  .secondaryColor {
    color: var(--secondary-color);
  }

  .commonBg {
    background: #2e71fe14;
  }

  .textPrimary {
    color: var(--text-primary);
  }

  .textSecondary {
    color: var(--text-secondary);
  }

  .primaryBorder {
    border-color: var(--primary-color);
  }

  .commonMT {
    @apply mt-[36px] md:mt-[66px] lg:mt-[100px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexColCenter {
    @apply flex flex-col items-center justify-center;
  }

  .sectionTag {
    @apply px-[10px] py-[10px] bg-[#2e71fe14] rounded-[8px] text-[#2e71fe] text-[16px] font-[600] leading-[19px] [&_span]:textPrimary;
  }

  .sectionTitle {
    @apply text-2xl md:text-4xl lg:text-4xl/[50px] font-[800] [&_span]:primaryColor;
  }

  .sectionPara {
    @apply textSecondary font-[600] text-[14px] sm:text-base/[32px];
  }

  .commonBtn {
    @apply py-[6px] md:py-[12px] px-[18px] md:px-[30px] primaryBg font-[600] text-white border-none rounded-[8px] relative z-[1] overflow-hidden w-max;
  }

  .commonTextGap {
    @apply gap-4 md:gap-6;
  }

  .fillTextAnimation {
    @apply text-[40px] sm:text-[60px] md:text-[89px] font-[800] !relative md:!absolute md:left-24 lg:left-20 md:top-0 bottom-0 m-auto md:-rotate-[89deg];
  }

  .fillTextAnimationAchievement {
    @apply md:!right-24 lg:!right-20 !left-auto right-[-40%] sm:right-[-54%] md:!rotate-[90deg];
  }

  .commonMB {
    @apply mb-40 md:mb-48;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* custom css  */

.commonBtn:after {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewY(89.5deg) scale(0, 1);
  transition: all 0.7s;
}

.commonBtn:hover:after {
  transform: skewY(-89.5deg) scale(1, 1040);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .commonBtn,
footer .commonBtn {
  background-color: var(--secondary-color);
}

header .commonBtn:after {
  background-color: var(--primary-color);
}
footer .commonBtn:after {
  background-color: #fff;
}

.commonKeyFramesDiv {
  animation: float2 3s ease-in-out 1s infinite alternate-reverse forwards;
  transition: left 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.reviews {
  animation: float1 3s ease-in-out 1s infinite alternate-reverse forwards;
  transition: left 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes float1 {
  0% {
    left: 8%;
  }

  50% {
    left: 7%;
  }

  100% {
    left: 10%;
  }
}

@keyframes float2 {
  0% {
    left: 64%;
  }

  50% {
    left: 66%;
  }

  100% {
    left: 62%;
  }
}

.curlArrow {
  animation: arrowMove 3s ease-in-out 1s infinite alternate-reverse forwards;
  transition: top 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes arrowMove {
  0% {
    top: -12%;
  }

  50% {
    top: -10%;
  }

  100% {
    top: -16%;
  }
}

@media screen and (max-width: 1024px) {
  .bgLineDiv {
    background: transparent !important;
  }
}

.fillTextAnimation {
  position: absolute;
  color: transparent;
  /* Removed hardcoded font-family */
  /* margin-left: 110px; */
  -webkit-text-stroke: 0.3px var(--secondary-color);
}

.fillTextAnimation::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  height: 100%;
  color: #2e71fe;
  -webkit-text-stroke: 0px transparent;
  overflow: hidden;
  animation: text-fill 2s ease-in-out 1s infinite alternate-reverse forwards;
  transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes text-fill {
  0% {
    width: 30%;
  }

  50% {
    width: 60%;
  }

  0% {
    width: 100%;
  }
}

.companyExp {
  animation: arrowMove 3s ease-in-out 1s infinite alternate-reverse forwards;
  transition: top 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes experience {
  0% {
    top: -8%;
  }

  50% {
    top: -6%;
  }

  100% {
    top: -10%;
  }
}

.solutionImgs {
  height: 380px;
  width: 735px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  perspective: 30px;
  transform-origin: bottom center;
  perspective-origin: bottom center;
}

.solutionImgs:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: inherit;
  border-radius: inherit;
}

.solutionImgs:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: inherit;
  left: 42%;
  transform-origin: bottom center;
  perspective-origin: bottom center;
  transform: translateX(-42%) rotateX(2deg);
  opacity: 0.8;
  bottom: -5%;
  height: 100%;
  width: 100%;
  background: inherit;
  filter: blur(15px);
  z-index: -1;
}

.workchainImg:hover {
  filter: invert(30%) sepia(134%) saturate(6126%) hue-rotate(221deg)
    brightness(136%) contrast(200%);
}

@media screen and (max-width: 1024px) {
  .workChain {
    background: transparent !important;
  }
}

.testimonialCard:hover img {
  filter: invert(48%) sepia(29%) saturate(6045%) hue-rotate(181deg)
    brightness(80%) contrast(200%);
}

#renderBullets {
  display: none;
}

@media screen and (max-width: 1199px) {
  #renderBullets {
    display: inline-block !important;
  }
}

/* global.css */
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

.devSlider {
  margin-top: 100px;
}

.devSlider .sliderWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  margin-top: -70px;
}

.devSlider .sidebar {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.devSlider .sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0px 70px;
}

.devSlider .sidebar .newSliderTitle {
  font: normal normal bold 30px/37px Montserrat;
  text-align: center;
  color: #212121;
  margin-bottom: 20px;
  margin-top: -30px;
}

.devSlider .sidebar p {
  text-align: center;
  font: 16px/32px Montserrat;
  color: #212121;
}

.devSlider .main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  transition: transform 0.5s ease-in-out;
  /* overflow: hidden; */
}

.devSlider .main-slide > div {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100%;
  width: 100%;
}

.devSlider .buttn {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.devSlider .buttn:hover {
  color: #222;
}

.devSlider .buttn:focus {
  outline: none;
}

.devSlider .sliderWrapper .controls .buttn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 12;
  background-color: var(--primary-color);
}

.devSlider .sliderWrapper .controls .buttn svg {
  color: white;
  font-size: 18px;
}

.devSlider .sliderWrapper .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.devSlider .sliderWrapper .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
